.wrapper{
      background-color: skyblue;
    width: 98vw;
    height: 98vw;
}

.telega{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    left: 500px;
    top: 100px;
    background-color: white;
    width:20vw;
    height: 13vw;
}

.myQualities1 {
    color: red;
}