.App {
    min-width: 98vw;
    width: max-content;
    min-height: 120vh;
    height: max-content;
}

.InputTodolistStyle {
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.lineTodolist {
    display: flex;
}

.leftSide {
    display: flex;
    justify-content: space-evenly;
}


.SelectStyles {
}

.RadioStyles {
    border: solid black 2px;
    padding: 10px;
    background-color: yellow;
    width: 200px;
}

.ArrayState {
    height: 200px;
    width: 230px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: white;
}

.th1 {
    position: relative;
    top: 00px;
    left: -80px;
}


.th2 {
    position: relative;
    top: 00px;
    left: -86px;
}

.buttons {
    margin-left: 20px;
    margin-top: 20px;
}

td {
    position: relative;
    left: -30px;
}

.timerModule {}
.setPreloader{
    text-align: center;
    background-color: lightblue;
    margin-bottom: 20px;
}