.App{
    min-width: 98vw;
    width: max-content;
    min-height: 120vh;
    height: max-content;
}

.InputTodolistStyle{
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.lineTodolist{
    display: flex;
}


