.universalButton{
    border: skyblue solid 1px;
    padding: 10px;
}

.orangeButton{
    border: orangered solid 1px;
    padding: 10px;
}

.colorFilter{
    background-color: yellow;
    padding: 10px;
}