
.meny{
    position: fixed;
    background-color: greenyellow;
    border: 1px solid;
    width: 60px;
    height: 30px;
    top :10px;
    left :10px
}
.Monday{
    position: fixed;
    left: -5px;
    top: 45px;
    padding: 10px 30px;
}
.Tuesday{
    position: fixed;
    left: -5px;
    top: 85px;
    padding: 10px 29px;
}